header {
  width: 100%;
  height: 100rem;
  max-width: 1920px;
  margin: 0 auto;
/*  height: 5.208vw;*/
}

#header-wrapper {
  width: calc(100% - 150rem);
  margin: 0 auto;
  height: 100%;
/*  width: calc(100% - 7.813vw);*/
}

.header-wrap {
  display: inline-block;
  vertical-align: top;
}
#header-wrap-h {
  width: 300rem;
/*  width: 15.625vw;*/
}
#header-wrap-n {
  width: calc(100% - 300rem);
  height: 100%;
/*  width: calc(100% - 15.625vw);*/
}

#header-logo {
  font-size: 30rem;
  color: #dc6655;
  font-weight: bold;
  line-height: 100rem;
  text-align: center;
  font-style: italic;
/*  font-size: 1.563vw;
  line-height: 5.208vw;*/
}

nav {
  width: calc(100% - 100px);
  width: calc(100% - 50rem);
  height: 50rem;
  background: #f2c19d;
/*  margin: 0 auto; */
  float: right;
  margin-top: 25rem;
  border-radius: 16rem;
/*  height: 2.604vw;
  border-radius: 0.833vw;
  margin-top: 1.302vw;
  width: calc(100% - 2.604vw);*/
}
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0 15rem;
  box-sizing: border-box;
/*  padding: 0 0.781vw;*/
}
header li {
  font-size: 14rem;
  color: #4d3b3b;
  display: inline-block;
  line-height: 50rem;
  padding: 0 15rem;
/*  font-size: 0.729vw;
  padding: 0 0.781vw;
  line-height: 2.604vw;*/
}
header ul li a {
  background: #dc6655;
  color: #fff;
  border-radius: 7rem;
  padding: 7rem 15rem;
  font-style: italic;
/*  padding: 0.365vw 0.781vw;
  border-radius: 0.365vw;*/
}
/*
@media (max-width: 1600px) {
  header {
    height: 5.208vw;
  }
  #header-wrapper {
    width: calc(100% - 7.813vw);
  }
  #header-wrap-h {
    width: 15.625vw;
  }
  #header-wrap-n {
    width: calc(100% - 15.625vw);
  }
  #header-logo {
    font-size: 1.563vw;
    line-height: 5.208vw;
  }
  nav {
    height: 2.604vw;
    border-radius: 0.833vw;
    margin-top: 1.302vw;
    width: calc(100% - 2.604vw);
  }
  header ul {
    padding: 0 0.781vw;
  }
  header li {
    font-size: 0.729vw;
    padding: 0 0.781vw;
    line-height: 2.604vw;
  }
  header ul li a {
    padding: 0.365vw 0.781vw;
    border-radius: 0.365vw;
  }
}
*/
/* *******************************************************************
subheader
********************************************************************** */
#container-subheader {
  background: #f2c19d;
  width: 100%;
  height: 500rem;
/*  padding: 0 75px; */
  padding-left: 75rem;
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
}

#subheader-logo {
  height: 100%;
  width: auto;
  mask-image: linear-gradient(90deg,transparent,red);
  float: right;
  height: 100%;
  /*
  height: calc(100% - 20px);
  margin-top: 10px;*/
/*  margin-right: 10px; */
  /*border-radius: 0 16px 16px 0;*/
  mix-blend-mode: color-burn;
}

#subheader-block-l {
  position: absolute;
}
#subheader-title {
  font-size: 30rem;
  font-weight: bold;
  color: #4d3b3b;
  display: inline-block;
  height: 50rem;
  line-height: 65rem;
  height: 75rem;
  line-height: 75rem;
  font-style: italic;
}
#subheader-body {
  width: 50%;
  height: 400px;
  height: 375rem;
  background: linear-gradient(90deg,#f8eae1,transparent 75%);
  border-radius: 16rem;
  font-size: 15rem;
  padding: 25rem 30rem;
  box-sizing: border-box;
  font-style: italic;
  color: #4d3b3b;
}
