#container-preview {
  height: 350px;
  height: 350px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
#preview-block-c {
  width: calc(100% - 1200px);
  width: 37%;
  margin: 0 auto;
  height: 100%;
}
#preview-title {
  font-size: 30px;
  font-weight: bold;
  color: #dc6655;
  text-align: center;
  height: 100px;
  line-height: 150px;
  font-style: italic;

}
#preview-body {
  border-radius: 16px;
  font-size: 15px;
  padding: 25px 30px;
  box-sizing: border-box;
  font-style: italic;
  text-align: center;
  color: #4d3b3b;
}
/* *********************************************************
advantages
************************************************************ */
#container-advantages {
  width: 100%;
  height: 225px;
  max-width: 1920px;
  margin: 0 auto;
}
#advantages-title {
  font-size: 30px;
  font-weight: bold;
  color: #dc6655;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-style: italic;
  height: 75px;
  line-height: 75px;
}
#advantages-wrap {
  text-align: center;
}
.advantages-block {
  width: 16%;
  height: 150px;
  display: inline-block;
  margin: 0 15px;
  border-radius: 16px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 150px;
  background: #dc6655;
  color: #fff;
  font-style: italic;
  color: #dc6655;
  background: #f2cdcf;
}
/* *********************************************************
services
************************************************************ */
#container-services {
  width: 100%;
  height: 450px;
  max-width: 1920px;
  margin: 0 auto;
}
#services-title {
  font-size: 30px;
  font-weight: bold;
  color: #dc6655;
  text-align: center;
  height: 100px;
  line-height: 150px;
  font-style: italic;
  height: 75px;
  line-height: 75px;
}
