#container-preview {
  height: 350px;
  height: 350rem;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
#preview-block-c {
  width: calc(100% - 1200px);
  width: 37%;
  margin: 0 auto;
  height: 100%;
}
#preview-title {
  font-size: 30rem;
  font-weight: bold;
  color: #dc6655;
  text-align: center;
  height: 100rem;
  line-height: 150rem;
  font-style: italic;

}
#preview-body {
  border-radius: 16rem;
  font-size: 15rem;
  padding: 25rem 30rem;
  box-sizing: border-box;
  font-style: italic;
  text-align: center;
  color: #4d3b3b;
}
/* *********************************************************
advantages
************************************************************ */
#container-advantages {
  width: 100%;
  height: 225rem;
  max-width: 1920rem;
  margin: 0 auto;
}
#advantages-title {
  font-size: 30rem;
  font-weight: bold;
  color: #dc6655;
  text-align: center;
  height: 50rem;
  line-height: 50rem;
  font-style: italic;
  height: 75rem;
  line-height: 75rem;
}
#advantages-wrap {
  text-align: center;
}
.advantages-block {
  width: 16%;
  height: 150rem;
  display: inline-block;
  margin: 0 15rem;
  border-radius: 16rem;
  text-transform: uppercase;
  font-size: 16rem;
  line-height: 150rem;
  background: #dc6655;
  color: #fff;
  font-style: italic;
  color: #dc6655;
  background: #f2cdcf;
}
/* *********************************************************
services
************************************************************ */
#container-services {
  width: 100%;
  height: 450rem;
  max-width: 1920px;
  margin: 0 auto;
}
#services-title {
  font-size: 30rem;
  font-weight: bold;
  color: #dc6655;
  text-align: center;
  height: 100rem;
  line-height: 150rem;
  font-style: italic;
  height: 75rem;
  line-height: 75rem;
}
