html {
  height: 100%; /* footer hack */

  font-size: calc(1vw / 14.4);
  font-size: calc(1vw / 19.8);
}
body {
  font-family: Arial, sans-serif;
  font-size: 0;
  margin: 0;
  padding: 0;
  background: #f5e6f4;
  box-sizing: border-box;
  padding: 0 15px;

  position: relative; /* footer hack */
  min-height: 100%; /* footer hack */
  padding-bottom: 250rem;
  padding-bottom: 260rem;

  text-size-adjust: 100%;
  -m-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  padding-top: 25rem;
  /*
  background: linear-gradient(#000,#000);
  */
  background: #fff;
}
/*
body::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(-135deg,#c23029,transparent 500rem),linear-gradient(135deg,#c23029,transparent 500rem);
}
*/
a {
  text-decoration: none;
  color: inherit;
}
/*
@media (max-width: 1600px) {
  html {
    font-size: calc(1vw / 16.0);
  }
}
@media (max-width: 1440px) {
  html {
    font-size: calc(1vw / 14.4);
  }
}
@media (max-width: 1280px) {
  html {
    font-size: calc(1vw / 12.8);
  }
}
@media (max-width: 960px) {
  html {
    font-size: calc(1vw / 9.6);
  }
}
*/
